/* ------------------------------
   Our Team CSS Styling 
   ------------------------------ */
   
   /* ------------------------------
   TYPOGRAPHY 
   ------------------------------ */
:root {

    --color-bg: #ffffff;
    --color-accent: #e67e22ff;
    --color-light: #f1f5f9;
    --color-text: #e2e8f0;
    --color-muted: #94a3b8;

    --scale-xxl: 3rem;
    --scale-xl: 2rem;
    --scale-lg: 1.5rem;
    --scale-md: 1.125rem;
    --scale-sm: 1rem;
}

/* =========================================
   NAVIGATION BAR
   ========================================= */

/* Tooltip Styling */
.nav-bar {
  display: flex;
  justify-content: center;
}

.lava-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  list-style: none;
  padding: 6px;
  margin: 0;
  border-radius: 12px;
  background: #1f2937; /* slate-800 */
}

.lava-link {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.25s ease;
}

.lava-link:hover {
  color: #0f172a;
}

.lava-link.active {
  background-color: white;
  color: #1f2937; /* dark navy text */
  box-shadow: 0 0 0 2px white, 0 0 0 4px #1f2937; /* optional border effect */
  z-index: 3;
}

.lava-link:not(.active):hover {
  color: #0f172a;
}

/* sliding pill */
.nav-indicator {
  position: absolute;
  display: inline-block;
  height: calc(100% - 12px);
  width: 0;
  margin: 0;
  border-radius: 12px;
  transition: all 0.35s ease;
  gap: 6px;
  padding: 6px;
  z-index: 1;
  box-shadow: 0 10px 30px rgba(249, 115, 22, 0.35);
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-hero{
  background:#f4f6f8;
  border-radius:24px;
  margin:40px auto 0;
  max-width:1200px;
  padding:60px 40px 80px;
}
/* =========================================
    FOOTER
   ========================================= */
footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    border-top: 1px solid var(--color-muted);
    color: #0d2e4d;
    font-size: var(--scale-sm);
    background-color:#e67e22ff;
}


